Pictures/Screenshots
Pictures/y.re
.config/ncmpcpp/error.log
.config/mpd/database
.config/mpd/pid
.config/mpd/state
.config/mpd/mpd.log
.config/mpd/sticker.sql
.config/mpd/playlists
.local/bin/agy
.local/bin/codex
